<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TADAO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>
    <form action="index.php" name="formulaire" method="POST">
        <select name="city">
            <option>Selectionner un établissement scolaire</option>
            {% for town_name in towns_name %}
            <option value="{{ town_name }}">{{ town_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="send">
    </form>


    <form action="index.php" name="formulaire" method="POST">
        <select name="city">
            {% for route in routes %}
            <option value="">{{ route }}</option>
            {% endfor %}
        </select>
        
    </form>

</body>
</html>