table {
    
    border: 1px solid black;
}

tr{
    text-align: center;
}

.scolaire{
    text-align: center;
    border: 1px solid black;
}

.image{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
    
}

.ligne_jaune{
    width: 100%;
    height: 1vh;
    background-color: #e5c54b;
}

.menu{
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    padding: 2vh;
}

img {
    height: 65px;
}


a {
    color: purple;
}

a:hover {
    color: purple;
}

.icon{
    display: flex;
    justify-content: center;
}

.icon_bus{
    width: 30px;
    height: 30px;
}

.title{
    border: 1px solid black;
    margin-top: 10vh;
    text-align: center;
}